/*
style.css

Copyright 2020 Aurnytoraink

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

.B_B1 {background:#e5006b; color: white;}
.B_B2 {background:#e5006b; color: white;}
.B_B3A {background:#e5006b; color: white;}
.B_B3B {background:#e6007d; color: white;}
.B_1 {background:#009fe3; color: white;}
.B_1S {background:#009fe3; color: white;}
.B_2 {background:#009fe3; color: white;}
.B_3 {background:#009fe3; color: white;}
.B_4 {background:#009fe3; color: white;}
.B_4B {background:#009fe3; color: white;}
.B_5 {background:#009fe3; color: white;}
.B_6 {background:#f39200; color: white;}
.B_7 {background:#fbba00; color: white;}
.B_7B {background:#fbba00; color: white;}
.B_7T {background:#fbba00; color: white;}
.B_9 {background:#189b52; color: white;}
.B_10 {background:#e94f35; color: white;}
.B_11 {background:#5c2483; color: white;}
.B_12 {background:#007bc4; color: white;}
.B_12A {background:#007bc4; color: white;}
.B_12B {background:#007bc4; color: white;}
.B_12S {background:#007bc4; color: white;}
.B_15 {background:#bd1d1d; color: white;}
.B_15S {background:#bd1d1d; color: white;}
.B_16 {background:#ca4e39; color: white;}
.B_16S {background:#ca4e39; color: white;}
.B_16T {background:#ca4e39; color: white;}
.B_17 {background:#d77d63; color: white;}
.B_18 {background:#814997; color: white;}
.B_19 {background:#e4348b; color: white;}
.B_21JET {background:#f07f3c; color: white;}
.B_22 {background:#e63323; color: white;}
.B_22S {background:#e63323; color: white;}
.B_23 {background:#f39200; color: white;}
.B_24 {background:#e30613; color: white;}
.B_24B {background:#e30613; color: white;}
.B_24T {background:#e30613; color: white;}
.B_25 {background:#e63329; color: white;}
.B_27 {background:#6aaade; color: white;}
.B_28 {background:#e63329; color: white;}
.B_28B {background:#e63329; color: white;}
.B_30 {background:#e63329; color: white;}
.B_31 {background:#009640; color: white;}
.B_32 {background:#009640; color: white;}
.B_33 {background:#00b1b2; color: white;}
.B_34 {background:#00b1b2; color: white;}
.B_35 {background:#bd1d1d; color: white;}
.B_35T {background:#009bbe; color: white;}
.B_36 {background:#bd1d1d; color: white;}
.B_36B {background:#bd1d1d; color: white;}
.B_37 {background:#312783; color: white;}
.B_37A {background:#312783; color: white;}
.B_38 {background:#e63329; color: white;}
.B_39 {background:#312783; color: white;}
.B_40 {background:#6aaade; color: white;}
.B_41 {background:#85c9b7; color: white;}
.B_42 {background:#636aaf; color: white;}
.B_42T {background:#636aaf; color: white;}
.B_44 {background:#e63323; color: white;}
.B_45 {background:#f39200; color: white;}
.B_46 {background:#c2063b; color: white;}
.B_46S {background:#c2063b; color: white;}
.B_47 {background:#cd4849; color: white;}
.B_48 {background:#db7a7c; color: white;}
.B_48T {background:#db7a7c; color: white;}
.B_49 {background:#da4f37; color: white;}
.B_50 {background:#e4348b; color: white;}
.B_51 {background:#afca0b; color: white;}
.B_52 {background:#0073bd; color: white;}
.B_53 {background:#005286; color: white;}
.B_54 {background:#007bc4; color: white;}
.B_55 {background:#f59c00; color: white;}
.B_56 {background:#f59c00; color: white;}
.B_60 {background:#ffdd00; color: white;}
.B_61 {background:#76b82a; color: white;}
.B_67 {background:#5bc5f2; color: white;}
.B_70 {background:#40ab35; color: white;}
.B_72 {background:#e30613; color: white;}
.B_73 {background:#e4348b; color: white;}
.B_74 {background:#5c2483; color: white;}
.B_80 {background:#76b82a; color: white;}
.B_81 {background:#005286; color: white;}
.B_82 {background:#afca0b; color: white;}
.B_82S {background:#afca0b; color: white;}
.B_83 {background:#bd1d1d; color: white;}
.B_84 {background:#ea591b; color: white;}
.B_86 {background:#ffdd00; color: white;}
.B_88 {background:#afca0b; color: white;}
.B_89 {background:#009640; color: white;}
.B_91 {background:#93d5f6; color: white;}
.B_95 {background:#878787; color: white;}
.B_96 {background:#878787; color: white;}
.B_97 {background:#dccd00; color: white;}
.B_98 {background:#f49e00; color: white;}
.B_121 {background:#0bbbef; color: white;}
.B_122 {background:#85c9b7; color: white;}
.B_142 {background:#009fe3; color: white;}
.B_142S {background:#0bbbef; color: white;}
.B_143 {background:#009fe3; color: white;}
.B_144 {background:#009fe3; color: white;}
.B_144S {background:#e73333; color: white;}
.B_B3 {background:#951b81; color: white;}
.B_145 {background:#009fe3; color: white;}
.B_509 {background:#c7d530; color: white;}
.B_518 {background:#f9b122; color: white;}
.B_521 {background:#ef7d00; color: white;}
.B_526 {background:#00998b; color: white;}
.B_530 {background:#009fe3; color: white;}
.B_533 {background:#009640; color: white;}
.B_535 {background:#c9338b; color: white;}
.B_540 {background:#ffdd00; color: white;}
.B_582 {background:#ea5160; color: white;}
.B_583 {background:#d8bfd2; color: white;}


.B_M1 {background:#009fe3; color: white;}
.B_M2 {background:#e30613; color: white;}


.B_T1 {background:#f28c00; color: white;}
.B_T2 {background:#f4e718; color: white;}
.B_T3 {background:#95c11f; color: white;}